<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="mail/emailLayout :: layout(~{::title}, ~{::section})">
<head><title>INFOMAIL_T1</title><meta charset="utf-8"></head>
<body>
<section>

   
    <p>Sie bieten im Rahmen des vom Bundesministerium für Familie,
        Senioren, Frauen und Jugend geförderten Programms <i>AUF!leben</i>
        der Deutschen Kinder- und Jugendstiftung (DKJS) das Projekt
        <span th:text="${projectName}">{projectName}</span>, Projektnr.: <span th:text="${projectNumber}">{projectNumber}</span>) an. Wir danken Ihnen
        sehr für die Durchführung der ersten Befragung. In den letzten
        Tagen der Projektmaßnahmen steht nun die zweite Erhebung der
        Evaluationsdaten an.
   <p>In einem Informationsblatt zum Download finden Sie alles Wichtige zur Evaluation Ihres Projektangebots zusammengefasst. 
        Bitte lesen Sie sich das Infomaterial gut durch. Ebenso finden Sie bei Bedarf eine Ausfüllhilfe für Kinder, welche den Fragebogen noch nicht selbst ausfüllen können.
    <p>Den Link zum Informationsblatt sowie zur Ausfüllhilfe finden Sie <a href=" https://www.auf-leben.org/evaluation/infomaterial/">hier</a>
    <p>Zudem stellen wir Ihnen in dieser Mail Links zu einer Online- sowie 
        zu einer Papierversion des Fragebogens zur Verfügung. Bitte nutzen Sie diese Links 
        nur für das in dieser Mail genannte Projekt mit der entsprechenden Projektnummer. Wir 
        empfehlen ausdrücklich die Nutzung des Online-Bogens, wenn es möglich ist. Der Online-Fragebogen 
        unterstützt auch das Ausfüllen via Mobiltelefon.
    <p>Den Link zum Online-Fragebogen finden Sie <a th:href="${formLink}">hier</a> .
    <p>Den Link zum Downloaden einer Papierversion des Fragebogens
        finden Sie <a th:href="${pdfLink}">hier</a> .
    <p>Die Befragung soll an einem von Ihnen gewählten Zeitpunkt in den
        letzten Tagen der Projektmaßnahmen, möglichst in Präsenz,
        stattfinden. Sie können selbst am besten einschätzen, an welchem
        Tag zum Ende der Maßnahmen möglichst viele Teilnehmer:innen
        erreicht werden und sich die Befragung gut umsetzen lässt. Planen
        Sie bitte genügend Zeit zum Ausfüllen des Bogens ein (je nach Alter
        der Befragten eine Viertel- bis halbe Stunde).
    <p>Falls Sie die Befragung aus technischen Gründen nicht in Präsenz
        umsetzen können, bitten wir Sie bei einer Weitergabe des Links an
        die Teilnehmenden zu sagen, dass die Fragebögen spätestens eine
        Woche nach Projektende online ausgefüllt werden sollten, damit die
        Projekterfahrung nicht zu weit zurückliegt.
    <p><u>Sehr wichtig</u> ist zudem der Hinweis, dass der Fragebogen ausgefüllt 
        und am Ende per Klick abgeschickt werden muss, da wir sonst keine Daten 
        erhalten. Nötigenfalls kann eine Pause gemacht und das Browserfenster geschlossen 
        werden – die bereits eingegebenen Daten bleiben bei erneutem Öffnen des Links erhalten.
    <p>Bei der Umsetzung mit Papierbögen gibt es Folgendes zu beachten:
    <p>Damit uns die Daten erreichen, müssen alle Papierbögen von Ihnen
        eingesammelt und in die Online-Fragebogenmaske (siehe Link oben)
        eingefügt werden. Für <u>jeden</u> Papier-Fragebogen muss also der
        Link einmal geöffnet, alle Fragen entsprechend der Angaben auf
        Papier online eingetragen und der Fragebogen online abgeschlossen
        werden. Bitte schicken Sie uns keinesfalls Bögen per Post oder als Scan zu! 
        Wir bitten diese Umstände zu entschuldigen, doch wir könnten sonst aufgrund der 
        Menge der Projekte, die evaluiert werden, die Befragung auf Papier nicht ermöglichen.
    <p>Bei Fragen können Sie sich per E-Mail an <a href="mailto:evaluation.aufleben@dkjs.de">evaluation.aufleben@dkjs.de</a>
        wenden. Wir nehmen dann schnellstmöglich Kontakt zu Ihnen auf.
    <p>Abschließend der Hinweis: Falls Ihr Projekt faktisch vor
        Schulferien endet, Ihr im Antrag angegebener Projektzeitraum jedoch
        bis zum Ende der Ferien läuft, nehmen Sie bitte die Evaluation
        entsprechend so vor, dass alle Teilnehmenden erreicht werden
        können, <u>auch ohne Erinnerungsmail</u> . Das gilt auch für
        etwaige <u>Änderungen der Projektstart- und endzeiten</u> .
    <p>Wir wünschen Ihnen viel Erfolg und Freude bei der Umsetzung
        Ihrer Projekte!

</section>
</body>
</html>
