<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<p>Bla <span th:text="${contactPerson}"/>,</p>

<p>blablablablablablablablablablablablablablablablablablablablablablablablabla
    blablablablablablablablablablablablablablablablablablablablablablablablabla
    blablablablablablablablablablablablablablablabla</p>

<p>blablabla <span th:text="${projectName}"/> (<span th:text="${projectNumber}"/>,
    <span th:text="${startDate}"/>-<span th:text="${endDate}"/>).
    Blablablablablablablablablablabla</p>

<p>blablablablablablablablablablablablablablablablablablablablablablablablabla
    blablablablablablablablablablablablablablablablablablablablablablablablabla
    blablablablablablablablablablablablablablablablbl</p>

<p>blablabla <span th:text="${linkToTypeformSurvey}"/>.</p>

<p>blablabla <span th:text="${linkToPaperBasedSurvey}"/>.</p>

<p>blablablablablablablablablablablablablablablablablablablablablablablablabla
    blablablablablablablablablablablablablablablablablablablablablablablablabla
    blablablablablablablablablablablablablablablablbl</p>

<footer th:replace="emailFragments :: email_footer()"/>

</body>
</html>
