<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="common_header(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css?v=5.1.3">
    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <title th:replace="${title}">Placeholder title</title>
</head>

<body>

<table>
    <thead th:fragment="project_header()">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Id</th>
        <th scope="col">Status</th>
        <th scope="col">Provider</th>
        <th scope="col">Person</th>
        <th scope="col">Goals</th>
        <th scope="col">Participants</th>
        <th scope="col">Start / End</th>
    </tr>
    </thead>
    <tbody>
    <tr th:fragment="project_tr(project)">
        <th th:text="${project.name}"/>
        <td th:text="${project.id}"/>
        <td th:text="${project.status}"/>
        <td>
            <span th:text="${project.provider.id}"/><br/>
            <span th:text="${project.provider.name}"/>
        </td>
        <td>
            <p>
                <span th:text="${project.contactPerson.pronoun}"/>
                <span th:text="${project.contactPerson.firstName}"/>
                <span th:text="${project.contactPerson.lastName}"/>
            </p>
            <a th:href="'mailto:'+${project.contactPerson.email}"
               th:text="${project.contactPerson.email}"></a>
        </td>
        <td th:text="${project.goals}"/>
        <td>
            <span th:text="${project.participants.age1to5}?: '?'" />,
            <span th:text="${project.participants.age6to10}?: '?'" />,
            <span th:text="${project.participants.age11to15}?: '?'" />,
            <span th:text="${project.participants.age16to19}?: '?'" />,
            <span th:text="${project.participants.age20to26}?: '?'" /><br/>
            Worker: <span th:text="${project.participants.worker}?: '?'" />
        </td>
        <td>
            <p th:text="${project.start}"/>
            <p th:text="${project.end}"/>
        </td>
    </tr>

    </tbody>

</table>

<footer th:fragment="common_footer()">
    [Footer goes here]
    <script src="js/bootstrap.bundle.min.js?5.1.3"></script>
</footer>

</body>

</html>
