<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="common_header(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css?v=5.1.3">
    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <title th:replace="${title}">Placeholder title</title>
</head>

<body>

<footer th:fragment="common_footer()">
    [Footer goes here]
    <script src="js/bootstrap.bundle.min.js?5.1.3"></script>
</footer>

</body>

</html>
