<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title})"/>
    <title>CSV upload</title>
</head>

<body>
    <h1>Upload</h1>

    <form method="post" th:action="@{/upload}"
          enctype="multipart/form-data" class="row g-3">
        <div class="col-12">
            <p th:text="${message}" th:if="${message ne null}"
               class="alert alert-primary"></p>
        </div>
        <div class="col-12">
            <label for="file" class="form-label">Choose CSV file</label>
            <input type="file" name="file" class="form-control" id="file">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Upload File</button>
        </div>
    </form>

    <footer th:replace="base :: common_footer()"/>
</body>
</html>
