<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="base :: common_header(~{::title})"/>
    <title>Thymeleaf sketch</title>
</head>

<body>
    <h1>Sketch</h1>
    <p>Test of passing data and displaying it with Thymeleaf.</p>

    Current time: <b th:text="${time}"/> ms

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person: ${people}">
                <th th:text="${person.name}"/>
                <td th:text="${person.birthYear}"/>
            </tr>
        </tbody>
    </table>

    <footer th:replace="base :: common_footer()"/>
</body>
</html>
