<!DOCTYPE html>
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="emali_header()">
    <p>Sehr geehrte Damen und Herren,</p>
</header>

<footer th:fragment="email_footer()">
    <p>Beste Grüße</p>
    <p>Ihr AUF!leben-Evaluationsteam</p>

    <h3 class="display: inline-block; padding-top: 10px; border-top: 2px solid #222; margin-top: 30px;">Team
        Evaluation AUF!leben</h3>
    <p>
        <b>Deutsche Kinder- und Jugendstiftung GmbH</b><br>
        Geschäftsstelle Berlin<br>
        Tempelhofer Ufer 11<br>
        10963 Berlin<br>
        E-Mail: <a href="mailto:evaluation.aufleben@dkjs.de">evaluation.aufleben@dkjs.de</a>
    </p>
</footer>

</body>
</html>
